body {
	font-family: 'Ubuntu', sans-serif;
}

.navbar {
	border-radius: 0px;
	margin: 0px;
}

.sidebar-module {
	margin-top: 10%;
}

.profile-info {
	font-size: medium;
}

.profile-picture {
	border-radius: 10px;
}

.profile-element {
	margin-bottom: 3%;
}

#id-signup-title {
	margin: 3%;
	margin-top: 3%;
}

#id-profile-title {
	margin: 3%;
	margin-top: 3%;
}

#id-signup-button {
	margin-bottom: 0%;
}